{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "object-curly-newline": "error",
    "no-unused-vars": "error"
  }
}
